
.navbar {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.clickable-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #66b3ff;
    border-radius: 5px; /* Abgerundete Ecken */
    border: 1px solid #007bff; /* Rahmen für Button-Look */
    font-weight: bold; /* Fettgedruckter Text */
    font-size: 16px;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.clickable-header:hover {
    background-color: #007bff;
}

/* Optional: Falls das Bild nicht die ganze Fläche ausfüllt */
.clickable-header img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain; /* Verhindert Verzerrungen */
}

.logo-image {
    height: 30px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header-title {
    margin: 2px;
    font-family: inherit;
    font-size: 1em; /* Standard-Button-Schriftgröße */
    font-weight: 650;
    text-align: center; /* Zentrierter Text */
    background: none; /* Kein Hintergrund, weil der div-Container schon styled */
    border: none; /* Kein Rahmen, da der Button-Container das übernimmt */
    padding: 6px 12px; /* Ähnlicher Innenabstand wie ein Button */
    cursor: pointer; /* Zeigt an, dass es klickbar ist */
    text-transform: none; /* Falls Buttons sonst in Großbuchstaben sind */
    letter-spacing: normal; /* Falls nötig, um Button-Text nachzubilden */
}

.toggle-search-on{
    background-color: #999;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-search-on:hover{
    background-color: #555;
}

#active-paginate{
    background-color: #999;
}

#active-paginate:hover{
    background-color: #555;
}

.footer{
    margin-top: auto;
    padding: 1rem;
    text-align: center;
}

