.play-card {
    width: 150px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    background-color: #f1f1f1; /* Beispiel Hintergrundfarbe */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.play-card.flipped,
.play-card.matched {
    transform: rotateY(180deg);
}

.card-back-image {
    width: 130px;
    height: 150px;
    border-radius: 8px;
    margin-top: 20px;
}

.play-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.preview-board{
    display: grid; /* Grid statt Flex verwenden */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px; /* Abstand zwischen den Karten */
    margin: 0 auto;
    justify-items: center; /* Karten innerhalb der Zellen zentrieren */
    padding: 20px 0;
}

.game-board {
    display: grid; /* Grid statt Flex verwenden */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Dynamische Anzahl an Karten pro Reihe */
    gap: 10px; /* Abstand zwischen den Karten */
    margin: 0 auto;
    justify-items: center; /* Karten innerhalb der Zellen zentrieren */
    padding: 20px 0;
    width: 1400px;
}

.game-board[data-cards="10"] {
    grid-template-columns: repeat(5, 1fr); /* 5 Spalten für 10 Karten */
    grid-template-rows: repeat(2, 1fr); /* 2 Reihen */
    width: 800px;
}

.game-board[data-cards="20"] {
    grid-template-columns: repeat(5, 1fr); /* 4 Reihen, 5 Spalten für 20 Karten */
    grid-template-rows: repeat(4, 1fr); /* 4 Reihen */
    width: 800px;
}

.game-controls {
    width: 600px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin: 16px auto;
    display: block;
    text-align: center;
}

.win-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    background-color: #28a745;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: bounceIn 1s ease-out forwards;
}

@keyframes bounceIn {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.missing-cards-message {
    background-color: #ff9999;
    border: 1px solid #f5c6cb; /* Leichte Randfarbe */
    padding: 10px 20px; /* Etwas Abstand für besseren Look */
    border-radius: 5px; /* Abgerundete Ecken */
    font-size: 16px; /* Angenehme Schriftgröße */
    font-weight: bold; /* Text hervorheben */
    text-align: center; /* Text zentrieren */
    width: 50%; /* Breite auf 50% des Elternelements setzen */
    margin: 0 auto 15px; /* Zentrieren des Elements */
}

